## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv(r"WeatherPy_Vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Olinda,BR,80.330,few clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
1,1,Hithadhoo,MV,82.670,broken clouds,-0.6000,73.0833,Scoop Guest House
2,6,Jamestown,US,80.942,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,10,Ormara,PK,81.500,clear sky,25.2088,64.6357,Kenara Colony House for Rent
4,13,Buchanan,LR,78.188,overcast clouds,5.8808,-10.0467,Kamaneahn Hotel Inc

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp:.2f} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
all_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
all_locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(all_locations, info_box_content=all_hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == "Westport"]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == "Westport"]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == "Yarmouth"]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == "Norfolk"]
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == "Palmer"]

print(vacation_start)
type(vacation_start)

    City_ID      City Country  Max Temp Weather Description      Lat      Lng  \
26       77  Westport      US    84.308           clear sky  41.1415 -73.3579

          Hotel Name
26  The Westport Inn

pandas.core.frame.DataFrame

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

print(start)
type(start)

[ 41.1415 -73.3579]

numpy.ndarray

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(41.7074, -71.8290), zoom_level=8)

noreaster_vacation = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(noreaster_vacation)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

waypoint_dataframes = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

itinerary_df = pd.concat(waypoint_dataframes,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,77,Westport,US,84.308,clear sky,41.1415,-73.3579,The Westport Inn
1,393,Yarmouth,US,78.908,clear sky,41.7057,-70.2286,Blue Rock Resort
2,163,Norfolk,US,84.776,few clouds,42.1668,-71.2495,Residence Inn by Marriott Boston Norwood/Canton
3,647,Palmer,US,82.454,clear sky,42.1584,-72.3287,Wedgewood Motel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp:.2f} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(41.7074, -71.8290), zoom_level=8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))